
<div class="container text-center txtsec" name="contactame" id="contactame">
  <div class="row">
      <div class="col">
          <h3 class="display-5">Contáctame</h3>
      </div>
  </div>
</div>

<div class="container text-center paddsec">
  <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
          <form>
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Nombre y Apellido</label>
                  <input class="form-control" type="text" id="exampleFormControlInput1"
                      placeholder="Escriba su nombre y apellido" aria-label="default input example">
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlInput2" class="form-label">Dirección de Email</label>
                  <input type="email" class="form-control" id="exampleFormControlInput2"
                      placeholder="mi_email@gmail.com">
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
              </div>
              <button type="submit" class="btn btn-outline-warning">Enviar Mensaje</button>
          </form>
      </div>
      <div class="col-md-2">
      </div>
  </div>
</div>
  <footer class="bg-dark text-center text-white ">
    <div class="container p-4 pb-4">
        <section class="mb-4">

          
            <a href="https://www.instagram.com/gerardocornalo/" target="_blank">
                <img src="/assets/img/iconos/instagram.svg" class="btn  btn-outline-warning btn-floating m-1" role="button">
            </a>

            <a href="https://www.linkedin.com/in/gerardo-cornalo-97bb38245/" target="_blank">
                <img src="/assets/img/iconos/linkedin.svg" class="btn  btn-outline-warning btn-floating m-1" role="button">
            </a>

            <a href="https://github.com/ger343" target="_blank">
                <img src="/assets/img/iconos/github.svg" class="btn  btn-outline-warning btn-floating m-1" role="button">
            </a>

        </section>
    </div>

    <div class="text-center p-3 colorprincipal">
        © 2022 Copyright:
        <a class="text-white" href="file:///C:/Users/User/Desktop/proyectos/gerardo%20html/index.html"
            target="_blank">Gerardo Cornalo</a>
    </div>
</footer>
