
 <!-- Educacion
<section>
  <article>
    <div class="container ">
      <div class="jumbotron">
        <h1 class="display-3 text-center">Educacion</h1>
        <p class="text-center"></p>
        <hr>
        <div class="col-md-1">
          <img src="/assets/img/iconos/agregar.svg" class="btn btn-outline-warning btn-outline-info btn-floating m-1"
            href="" role="button">
        </div>
      </div>

    </div>
    <ul class="items-list ">
      <li *ngFor="let educacion of educacionList">
        <div class="row justify-content-between contenido">
          <div class="col-md-3 mt-4 ">
            <img class="logo" [src]="educacion.img" alt="Logo Argentina Programa">

         </div>

          <div class="col-md-6 mt-4">
            <h3>{{educacion.school}}</h3>
            <h4>{{educacion.title}} </h4>
            <h5>{{educacion.end}}</h5>

          </div>
          <div class="col-md-3">
            <img src="/assets/img/iconos/editar.svg" class="btn btn-outline-warning btn-outline-info btn-floating m-1"
              href="" role="button">
            <img src="/assets/img/iconos/eliminar.svg" class="btn btn-outline-warning btn-outline-info btn-floating m-1"
              href="" role="button">
          </div>

        </div>
      </li>
    </ul>


  </article>


</section>
<br>
<br>-->
<section class="seccion card mb-3 ">
  <article>
      <div class="container ">
          <div class="jumbotron">
              <h1 class="display-3 text-center">Educacion</h1>
              <p class="text-center"></p>
              <hr>
              <div class="col-md-1">
                  <button type="button" class="btn btn-outline-warning btn-outline-info btn-floating m-1"
                      routerLink="/nuevaedu"> <!--*ngIf="isLogged"-->
                      <img class="bi" src="/assets/img/iconos/agregar.svg" />
                  </button>
              </div>
          </div>

      </div>

      <br>
      <br>

      <ul>
          <li *ngFor="let Educacion of educacion">

              <div class="row justify-content-between contenido">
                  <div class="col-md-3 mt-4 ">
                      <h4>{{Educacion.nombreE}}</h4>
                      <!-- <img class="col logo" [src]="experiencia.img" alt="Logo hs"> -->
                  </div>
                  <div class="col-md-6 ">
                      <h4>{{Educacion.descripcionE}}</h4>
                      <!-- <h5>{{experiencia.start}} - {{experiencia.end}}</h5> -->
                  </div>

                  <div class="col-md-3">
                      <button class="btn btn-outline-warning btn-outline-info btn-floating m-1"
                          routerLink="/editedu/{{Educacion.id}}">
                          <i class="bi bi-pencil-fill"></i></button>


                      <button class="btn btn-outline-warning btn-outline-info btn-floating m-1"(click)="delete(Educacion.id)" >
                          <i class="bi bi-trash-fill"></i> </button>
                  </div>

              </div>
          </li>
      </ul>

  </article>