
 <!-- Educacion
<section>
  <article>
    <div class="container ">
      <div class="jumbotron">
        <h1 class="display-3 text-center">Educacion</h1>
        <p class="text-center"></p>
        <hr>
        <div class="col-md-1">
          <img src="/assets/img/iconos/agregar.svg" class="btn btn-outline-warning btn-outline-info btn-floating m-1"
            href="" role="button">
        </div>
      </div>

    </div>
    <ul class="items-list ">
      <li *ngFor="let educacion of educacionList">
        <div class="row justify-content-between contenido">
          <div class="col-md-3 mt-4 ">
            <img class="logo" [src]="educacion.img" alt="Logo Argentina Programa">

         </div>

          <div class="col-md-6 mt-4">
            <h3>{{educacion.school}}</h3>
            <h4>{{educacion.title}} </h4>
            <h5>{{educacion.end}}</h5>

          </div>
          <div class="col-md-3">
            <img src="/assets/img/iconos/editar.svg" class="btn btn-outline-warning btn-outline-info btn-floating m-1"
              href="" role="button">
            <img src="/assets/img/iconos/eliminar.svg" class="btn btn-outline-warning btn-outline-info btn-floating m-1"
              href="" role="button">
          </div>

        </div>
      </li>
    </ul>


  </article>


</section>
<br>
<br>-->