

  <footer class="bg-dark text-center text-white ">
    <div class="container p-3 pb-4">
        <section class="mb-3">

          
            <a href="https://www.instagram.com/gerardocornalo/" target="_blank">
                <img src="/assets/img/iconos/instagram.svg" class="btn  btn-outline-warning btn-floating m-1" role="button">
            </a>

            <a href="https://www.linkedin.com/in/gerardo-cornalo-97bb38245/" target="_blank">
                <img src="/assets/img/iconos/linkedin.svg" class="btn  btn-outline-warning btn-floating m-1" role="button">
            </a>

            <a href="https://github.com/ger343" target="_blank">
                <img src="/assets/img/iconos/github.svg" class="btn  btn-outline-warning btn-floating m-1" role="button">
            </a>

        </section>
    </div>

    <div class="text-center p-3 colorprincipal">
        © 2022 Copyright:
        <a class="text-white" href="file:///C:/Users/User/Desktop/proyectos/gerardo%20html/index.html"
            target="_blank">Gerardo Cornalo</a>
    </div>
</footer>
