

    <body class="bg-secondary">

        <!-- Inicio del menu -->

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- icono o nombre -->
                <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
                    <img src="/assets/Logo_Argentina_Programa.png" alt="Logo" width="80"
                        class="d-inline-block align-text-center">
                </a>

                <!-- boton del menu -->

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- elementos del menu colapsable -->

                <div class="collapse navbar-collapse" id="menu">
                    <hr class="d-md-none text-white-50">

                    <!-- enlaces redes sociales -->

                    <ul class=" btn  navbar-nav ms-auto flex-row flex-wrap text-light">

                        <li class="btn-outline-warning nav-item col-6 col-md-auto p-3">
                            <a class=" navbar-brand" href="https://twitter.com/?lang=es">
                                <i class=" bi bi-twitter"></i>
                                <i class="fa-brands fa-twitter fa-lg"></i>
                            </a>
                            <small class="d-md-none ms-2">Twitter</small>
                           
                        </li>

                        <li class="btn-outline-warning nav-item col-6 col-md-auto p-3">
                            <a class="navbar-brand" href="https://github.com/ger343">
                                <i class="bi bi-github"></i>
                            </a>
                            <small class="d-md-none ms-2">GitHub</small>
                        </li>

                        <li class="btn-outline-warning nav-item col-6 col-md-auto p-3">
                            <a class="navbar-brand" href="https://www.linkedin.com/in/gerardo-cornalo-97bb38245/">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <small class="d-md-none ms-2">linkedin</small>
                        </li>

                    
                    </ul>
                    <!--boton login -->

                    
                         <!-- <form class="d-flex"> -->

                            <button type="button" class="btn btn-outline-warning d-none d-md-inline-block"
                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                                data-bs-whatever="@mdo">login</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">INICIAR SESION</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="recipient-name" class="col-form-label">email:</label>
                                                    <input type="email" class="form-control" id="recipient-name">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="recipient-name"
                                                        class="col-form-label">contraseña:</label>
                                                    <input type="password" class="form-control" id="recipient-name">

                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Ingresar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        
                        <!-- </form> -->
                    
               
                </div>
            </div>
        </nav>
    </body>
