<div class="seccion">
    <div class="row g-0">
        <div class="col-md-11">
          <div class="card-body txt">
          <h2 class="fuente1 card-title display-5 text-center">{{miPorfolio.aboutTitle}}</h2>
        </div>
        
    </div>

    <h6 class="card-text display-6 text-center ">{{miPorfolio.about}}</h6>
    
</div>
<div class="col-md-1" id="quiensoyeditar">
  <img src="/assets/img/iconos/agregar.svg" class="btn btn-outline-warning btn-outline-info btn-floating m-1" href=""
      role="button">
</div>
<br>
<br>
