
<!--<div class="container-fluid">
  <div class="container-fluid" id="perfil">
      <img class="banner " src="Banner programacion.png" alt="banner" class="w-100 img-fluid">


      <div class="col-md-4" id="perfil">
          <img src="frente4.jpeg" alt="foto-perfil" class=" fotoperfil rounded-circle  img-fluid col-7">
          <div class="col-md-4">
              <img src="img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                  role="button">
          </div>
      </div>






      <h1 class="fuente1 nombre ">GERARDO CORNALO</h1>

      <br>
      <p>Concordia, Entre Ríos (Argentina) </p>

      <div>
          <a class="btn btn-outline-warning" href="#" role="button">Tengo interes en</a>
          <button type="button" class="btn btn-outline-warning">Añadir Sección</button>
          <button type="button" class="btn btn-outline-warning">Más</button>
      </div>
  </div>


</div>

<br>
<br>

 sección de presentación -->

<!--<section class="presentacion m-3"> -->

<!-- sección del Banner -->
<img class="banner" [src]="miPorfolio.backImage" alt="banner" class="w-100 img-fluid">

<!--<div class="row justify-content-between presentacion_datos">-->

     <div class="col-md-4" id="perfil">
      <img [src]="miPorfolio.image" alt="foto-perfil" class="fotoperfil rounded-circle img-fluid col-7">
      <h1 class="nombre">{{miPorfolio.name}}</h1>
      <h4>{{miPorfolio.position1}}</h4>
            <br><p>{{miPorfolio.ubication}}<a href="http://">Información de contacto</a></p> <!-- Agregar link -->
            <div>
              <a class="btn btn-outline-warning" href="#" role="button">Tengo interes en</a>
              <button type="button" class="btn btn-outline-warning">Añadir Sección</button>
              <button type="button" class="btn btn-outline-warning">Más</button>
          </div>
     
       </div>
       <br>
       <br>



