.gradient-custom {
    /* fallback for old browsers */
    background: #cb9911;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(184, 203, 17, 0.267), rgba(252, 116, 37, 0.486));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(69, 77, 24, 0.363), rgba(252, 123, 37, 0.5))
    }