<!-- Experiencia-->

<section class="seccion card mb-3 ">
  <article>
    <div class="container ">
      <div class="jumbotron">
        <h1 class="display-3 text-center">Experiencia</h1>
        <p class="text-center"></p>
        <hr>
        <div class="col-md-1">
          <img src="/assets/img/iconos/agregar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
            role="button">
        </div>
      </div>

    </div>

    <br>
    <br>

    <ul>
      <li *ngFor="let experiencia of experienciaList">

        <div class="row justify-content-between contenido">
          <h4>{{experiencia.company}}</h4>
          <div class="col-2 text-center">
            <img class="col logo" [src]="experiencia.img" alt="Logo hs">
          </div>
          <div class="col">
            <h4>{{experiencia.position}}</h4>
            <h5>{{experiencia.start}} - {{experiencia.end}}</h5>
          </div>

        </div>
      </li>
    </ul>

  </article>
  <br>


  <!-- Educacion-->
  <article>
    <div class="container ">
      <div class="jumbotron">
        <h1 class="display-3 text-center">Educacion</h1>
        <p class="text-center"></p>
        <hr>
        <div class="col-md-1">
          <img src="/assets/img/iconos/agregar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
            role="button">
        </div>
      </div>

    </div>
    <ul class="items-list ">
      <li *ngFor="let educacion of educacionList">
        <div class="row justify-content-between contenido">
          <h4>{{educacion.school}}</h4>
          <div class="col-2 text-center">
            <img class="logo" [src]="educacion.img" alt="Logo Argentina Programa">
          </div>
          <div class="col-8">
            <h4>{{educacion.title}}</h4>
            <br>
            <h5>{{educacion.end}}</h5>
          </div>
          <div class="col-2 text-center">
            <button type="button" class="btn btn-light m-1">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn btn-light m-1">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>


  </article>


</section>
<br>
<br>